{% extends 'base.html' %}

{% if user.is_authenticated %}
    {% block content %}
    <h1> {{ turma.codigo }} - {{ turma.nome }} </h1>

    <br>

    <form action="/qrcode/generator/turma/{{ turma.id }}">
        <input type="submit" value="QR Code de Inscricao na Turma" />
    </form>

    <br>

    {% if user_role == 'PROFESSOR' %}
        <form action="/turmas/frequencia/{{ turma.pk }}/">
            <input type="submit" value="Frequencia dos Alunos" />
        </form>

        <br>

        <form action="/turmas/{{ turma.pk }}/create/aula/">
            <input type="submit" value="Agendar Aula" />
        </form>

        <br>
    {% endif %}

    <h2> Aulas Hoje </h2>
    {% if aulas %}
        <ul>
        {% for a in aulas %}
            <li><a href="/qrcode/generator/aula/{{ a.id }}">{{ a.inicio }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma aula hoje :)</p>
    {% endif %}

    {% endblock %}
{% endif %}